/* Reset styles and global adjustments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0 0 50px 50px;
}

/* Main content styles */
main {
  padding: 2rem;
  flex: 1;
}

/* Form styles */
form {
  text-align: center;
}

/* Textarea styles */
textarea {
  resize: none;
}

/* JSON Output styles */
#jsonOutput {
  white-space: pre;
  font-family: "Courier New", monospace;
  border: 1px solid #ccc;
  padding: 1rem;
  overflow: auto;
  max-width: 100%;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-radius: 50px 50px 0 0;
}

/* Action Button styles */
.action-button {
  display: flex;
  align-items: center;
  width: 150px; 
  height: 40px;
  margin: 1rem;
  background-color: #616161;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
  border-radius: 15px;
}

.action-button:hover {
  background-color: white;
  color: #616161;
  border: 1px solid #616161;
  border-radius: 10px;
}

/* Icon styles */
.icon {
  margin-right: 5px;
}

/* Button Container styles */
#button-container {
  display: flex;
  justify-content: space-evenly;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.close {
  color: #888;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.pop-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer-link {
    color: #ffffff;
    text-decoration: none; 
}

.footer-link:hover {
    text-decoration: underline; 
}
.footer-link:visited {
    color: #ffffff; 
    text-decoration: none;
}

.popup-content {
  animation: popupFadeIn 1s ease-in-out;
}

@keyframes popupFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
